body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  padding: 18px 100px;
  background-color: #1a237e;
  height: 100px;
  border: #bbdefb 3px solid;
  border-radius: 20px;
}
